body{
    background-color: darkslategrey;
    font-size: 20px
}

.container{
    background-color: white;
    border-bottom: solid black;
    border-left: solid black;
    border-right: solid black;
}

#animal-form{
    margin: 10px 0 10px 0;
}

#add-animal{
    margin: 10px 0 10px 0;
}


h1{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    width: 100%;
    background-color: darkgray;
    border: solid black;
    padding: 10px;
}

button{
    margin: 10px;
}